@font-face {
  font-family: PPEditorialNew-Ultrabold;
  src: url(fonts/PPEditorialNew-Ultrabold.otf);
  	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

:root {
  --main-bg-color: #fff;
  --main-fg-color: #8a97a3;
  --main-theme-color: #C1C6CB;
}

.hide{
  display:none;
}

html,
body,
#root {
  background:var(--main-bg-color);
  color:var(--main-fg-color);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight:300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  animation-name: fade;
  animation-duration: 8s;
}



body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.grid {
  display:grid;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:2;

}

header{
  color:var(--main-fg-color);
  width:100%;
  position:absolute;
  display:flex;
  flex-wrap: wrap;
  font-size:15px;

}

header  div{
  width: 100%;
  padding:4rem 0 0 0;
  text-align: center;
}

header  .nav{
  padding:1rem 0 2rem 0;
}



header a,
footer a{
  width: 100%;
  margin:0 .5rem;
  text-decoration: none;
  color:var(--main-fg-color);
}

header .home{
  font-weight: 500;

}


.page{
  display:grid;
  grid-template-columns:  1fr;
  width:100vw;
  height:100%;
  border:1px solid rgba(255,255,255,0.1);

}

.content{
display:grid;
 align-items: center;
 padding:6rem 4rem;
}

b{
  font-weight: 500;
}


h1{
font-family: PPEditorialNew-Ultrabold;
  text-align:center;
  font-size:10vw;
  line-height:.9;
  letter-spacing: -0.01em;
}


h2{
  font-size:1.2rem;
  font-weight: 500;
  margin:.5rem 0;
}

.homepage{
  display:grid;
  justify-items: center;
  align-items: center;
}

.workpage{
  display: grid;
  justify-items: left;
  margin: 4rem 0 6rem 0;
}


.aboutpage{
  padding:6rem 0 ;
  max-width: 100vw;
  display: grid;
  justify-self: center;
}




.aboutpage p{
    font-size: 1rem;
    line-height:1.5rem;
    margin-top:0;
    padding-top:0;
}


.canvasholder{
  opacity: .4;
}
  
.workpage a{
  color:var(--main-fg-color);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.workpage a:hover{
    border-bottom:1px solid;
}

.card img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.workpage .cardHolder{
  display: grid;
  grid-template-columns: repeat(1, minmax( 200px,1fr ));
  column-gap: 2rem;
  row-gap: 2rem;
  justify-items: left;
}
.workpage h1{
  font-size:4vw;
  text-align:left;
}


footer{
  color:var(--main-fg-color);
  width:100%;
  position:absolute;
  display:flex;
  font-size:15px;
  bottom:0;
    justify-content: center;
}

footer  div{
  padding:4rem;
  text-align:right;
}


@media (min-width: 768px){


.hide{
  display:inline-block;
}

header  div{
  padding:4em;
  flex:1;
  text-align: left;
}

header .nav{
    padding:4em;
  text-align: right;
}




    h1{
        text-align:center;
        font-size:8vw;
        line-height:1.1;
        letter-spacing: -0.04em;
      }

      .workpage .cardHolder{
        grid-template-columns: repeat(2, minmax( 200px,1fr ));
          row-gap: 4rem;
      }


      .aboutpage div{
       max-width: 100vw;
        column-count: 2;
         column-gap: 2rem;
      }

      .aboutpage p{
    font-size: 1.2rem;
    line-height:1.5rem;
    margin-top:0;
    padding-top:0;
}

footer{
    justify-content: flex-end;
}

header a,
footer a{
  margin:0 0 0 1rem;
  text-decoration: none;
  color:var(--main-fg-color);
}



}


@media (min-width: 992px) {
        .workpage .cardHolder{
        grid-template-columns: repeat(4, minmax( 200px,1fr ));
      }

           .aboutpage div{
       max-width: 60vw;
       }
}



.canvasholder{
  width: 100%;
  height:100%;
  position: fixed;
  z-index: 1;
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 3s;
}

@keyframes fade {
  0% {opacity:0; display:none;}
  10% { display:block;}
  100% {opacity:1;}
}
