@font-face {
  font-family: PPEditorialNew-Ultrabold;
  src: url(fonts/PPEditorialNew-Ultrabold.otf);
  	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

:root {
  --main-bg-color: #fff;
  --main-fg-color: #C1C6CB;
  --main-theme-color: #C1C6CB;
}

html,
body,
#root {
  background:var(--main-bg-color);
  color:var(--main-fg-color);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight:300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  animation-name: fade;
  animation-duration: 8s;
}



body {
  margin:0;
  padding:0;
  height:100vh;
  width:100vw;
  overflow:hidden;
}

.grid {
  display:grid;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:2;
}

header{
  color:var(--main-fg-color);
  width:100%;
  position:absolute;
  display:flex;
  font-size:15px;
}

header  div{
  padding:2rem;
  flex:1;
}

 a{
  margin-left:1rem;
  text-decoration: none;
  color:var(--main-fg-color);
}


.page{
  display:grid;
  grid-template-columns:  1fr;
  width:100vw;
  height:100vh;
  border:1px solid rgba(255,255,255,0.1);

}

.content{
display:grid;
 align-items: center;
  justify-items: center;
  padding:4rem;
}


h1{
font-family: PPEditorialNew-Ultrabold;
  text-align:left;
  font-size:9vw;
  line-height:.9;
  letter-spacing: -0.01em;
  color:var(--main-theme-color);  
}


footer{
  color:var(--main-fg-color);
  width:100%;
  position:absolute;
  display:flex;
  font-size:15px;
  bottom:0;
    justify-content: flex-end;
}

footer  div{
  padding:2rem;
  text-align:right;
}


@media (max-width: 768px){
    h1{
        text-align:center;
        font-size:10vw;
        line-height:1.1;
        letter-spacing: -0.04em;
      }
}

.canvasholder{
height:100%;
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 3s;
}

@keyframes fade {
  0% {opacity:0; display:none;}
  10% { display:block;}
  100% {opacity:1;}
}
